tsconfig.base.json
package-lock.json
tslint.json
tsconfig.json

.prettierrc
.npmrc
.gitignore
.eslintignore
.eslintrc.js

packages/**/*
src/**/*
node_modules/**/*
samples
scripts
nest-cli.json
tsconfig.build.json
tsconfig.build.tsbuildinfo